.door-Wrapper {
    flex: 2;
    border: 1px solid black;
    box-shadow: black 0px 0px 2px 1px;
    position: relative;
    background-color: silver;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1.8s ease-in-out;
    .door-handle {
        z-index: 3;
        display: inline-block;
        top: calc(50% - 25px);
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: silver;
        position: absolute;
        border-radius: 50%;
        box-shadow: inset black -2px -3px 0px 1px, inset black 3px 2px 5px 4px;
        transform-style: preserve-3d;
    }
    &.open {
        transform: perspective(1250px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    }
    .face {
        background-color: silver;
        border: 1px solid black;
        position: absolute;
    }
    .front,
    .back {
        width: 100%;
        height: 100%;
    }
    .front {
        border: none;
    }
    .back {
        transform: rotateY(180deg);
        background-color: silver;
        top: 10px;
        transform: translateZ(-53px) translateX(28px);
        height: 320px;
        width: 427px;
    }
    .right {
        width: 50px;
        height: 320px;
        top: 10px;
        transform: rotateY(90deg) translateZ(430px) translateX(27px);
        .lock-bar {
            background-color: #dfe6e6;
            position: absolute;
            height: 30px;
            border-radius: 50%;
            width: 30px;
            left: calc(50% - 15px);
            border: 1px solid black;
            top: calc(50% + 70px);
            &:first-of-type {
                top: calc(50% - 70px);
            }
        }
    }
}