@import "../../../_variables";
.keypad-wrapper {
    grid-template-columns: 3em 3em 3em;
    grid-column-gap: $default-gap;
    grid-row-gap: $default-gap;
    display: grid;
    padding: 15px;
    border-radius: $border-radius;
    box-shadow: $default-box-shadow;
    justify-content: center;
    background-color: $interface-background-color;
    button {
        border-color: #bbbbbb;
        border-radius: $border-radius;
        box-shadow: $default-box-shadow;
        height: 1.6em;
        font-size: 1.5em;
        &:active {
            box-shadow: inset black 3px -1px 20px 2px;
            background-color: #ff0000;
        }
        &:disabled {
            background-color: #9c9c9c;
            box-shadow: inset black -1px 1px 2px 1px;
        }
    }
}