@import "../../../variables";
.screen-wrapper {
    display: flex;
    gap: 5px;
    position: relative;
    border-radius: $border-radius;
    box-shadow: $default-box-shadow;
    padding: 10px;
    background-color: $interface-background-color;
    .digit-wrapper {
        font-family: "digital-7", sans-serif;
        background-color: #000000;
        flex: 1;
        position: relative;
        .digit,
        .placeholder {
            flex: unset;
            position: relative;
            display: block;
            text-align: center;
            font-size: 50px;
            color: #ff0000;
            z-index: 2;
        }
        .placeholder {
            /* display: block; */
            color: #300101;
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
        }
    }
}